# macOS system files
*.DS_Store

# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
envs/

# IDE/editor files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Data files 
# *.csv
# *.dbf
# *.xml
